body {
    font-family: helvetica;
}

.groups {

}

.group {
    display: inline-block;
    vertical-align: top;
}

.clock {
    margin: 1em;
}

.name {
    text-align: center;
}

.groupname {
    text-align: center;
    text-decoration: underline;
    font-size: 110%;
}

#local .groupname {
    text-decoration: none;
}

.meridiem {
    text-align: center;
}

.divider {
    display: inline-block;
    position: absolute;
    top: 10%;
    bottom: 10%;
    border-left: 1px solid #000;
}
